@import "tailwindcss";

@theme {
  --color-primary: #FFFFFF;
  --color-background-light: #F9FAFB;
  --color-background-dark: #121212;
  --color-slate-950: #0a0a0a;

  --font-display: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-slate-950);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Custom Utilities */


.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}